@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  background-color: #fff8e6;
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
  height: 100vh;
}

.stage-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

.stage-title {
  background: #ddd;
  padding: 18px 50px;
  font-size: 30px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
}

#game-canvas {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0,0,0,0.06);
  display: block;
}

.info-panel {
  position: fixed;
  top: 120px;
  right: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 10;
}

.info-box {
  background: #ddd;
  padding: 18px 0;
  min-width: 160px;
  text-align: center;
  font-size: 26px;
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 16px;
  padding: 64px 64px 40px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 850px;
  min-height: 550px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  position: relative;
}

.intro-image {
  max-width: 720px;
  max-height: 440px;
  margin-bottom: 40px;
  border-radius: 16px;
  object-fit: contain;
}

#skip-btn {
  background: #888;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 32px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 8px;
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}
#skip-btn:hover {
  background: #555;
}

.time-remaining {
  font-size: 36px;
  color: #222;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
  font-weight: bold;
}

#clear-modal .modal-content {
  min-width: 500px;
  min-height: 350px;
  padding: 48px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clear-title {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

#clear-modal button {
  background: #ddd;
  border: none;
  border-radius: 6px;
  padding: 16px 40px;
  font-size: 26px;
  margin: 16px 0;
  cursor: pointer;
  min-width: 200px;
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}

#clear-modal button:hover {
  background: #bbb;
}
